<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/style.css" />
    <head>
        <title>Reactagle Area</title>
    </head>
    <div class="login-form">
        <div class="form">
            <form action="/area" method="POST">
                <input type="text" placeholder="Side A" name="sidea">
                <input type="text" placeholder="Side B" name="sideb">
                <input type="submit" value="Calculate Area" class="btn btn-primary btn-large btn-block">
            </form>
        </div>
    </div>
    <p align="center">
        Calculated Area: {{ area }}
    </p>
</html>